
.movie-container{ 
    display:flex; 
    justify-content:space-around;
    gap: 50px;
    flex-wrap:wrap;
    
    
}
.movie-poster{
    display: flex;
     flex-wrap:wrap ;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px  ;
    height: 370px;
    width: 270px;
    border-radius: 10px;
    transition: .2s;
    box-shadow: 2px 2px 20px black;
    align-items:center;
    /* margin-top: 0px; */
}

.movie-title{
    /* text-align: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    font-size: 25px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

.mm{
    align-items: center;
    cursor: pointer;
    
}

.des{
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    font-size:20px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    margin:20x;
    width: 270px;
    overflow:hidden;
}




.pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.pop-inner{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 1300px;
    height: 700px;
    background-color:#222;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: azure;

    
}

.close{
    position: absolute;
    top: 4px;
    /* down: 5px; */
    right: 10px;
    padding: 5px;
    font-weight:30px ;
    margin-bottom: 0px;

}

.close:hover{
    cursor: pointer;
    box-shadow: 2px 2px 20px azure; 
    transition: .2s;


}


.pop-des{
    display: flex;
    justify-content:center ;
    font-size: 25px;
    /* align-items:end; */
}
.movie-pop{
    height: 450px;
    width:400px ;
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 10px;

    /* top: 10px; */
 } 

.popp{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 50px;
}

.pop-name{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;

}

.home{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    gap: 5px;
}

.movp{
    display:flex ;
    justify-content:space-between;
    height: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;

}


.trailer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-around;
    margin: 10px;
    

}

.trailname{
    text-align: start;
    font-size: 20px;
    padding-left: 30px;
}

.inf{
    
}
.head{
    display: flex;
    justify-content: center;
    /* padding-right: 50px; */
}


.img{
    display: flex;
    justify-content:center;
    height: 400px;
    /* width: 450px; */
    
}

.about{
    font-size: 22px;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 15px;
    width: 900px;
    padding-left: 370px;
    padding-top: 100px;
}